<div fxLayout="row" fxLayoutAlign="space-between center">

    <button mat-button [mat-dialog-close]="true">
        <mat-icon matListIcon>close</mat-icon>
    </button>

    <button mat-icon-button *ngIf="profileForInput && this.profileForInput.id === userService.currentUser?.id"
        (click)="this.isEditing = !this.isEditing">
        <mat-icon matListIcon>edit</mat-icon>
    </button>
    
    <a routerLink="/manage-orders" class="nav-link" [mat-dialog-close]="true">Manage Orders</a>

    <button routerLink="" [mat-dialog-close]="true" class="btn btn-link logout-button"
        (click)="logout()">Logout</button>


</div>

<mat-dialog-content>

    <form fxLayout="column" fxLayoutGap="2vh" #editForm="ngForm" (ngSubmit)="finishEditing(editForm)">

        <mat-card>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
                <mat-icon>mail</mat-icon>

                <div fxLayout="column" *ngIf="!this.isEditing">
                    <mat-card-subtitle>Email</mat-card-subtitle>
                    <span>{{ this.profileForInput.email }}</span>
                </div>

                <mat-form-field *ngIf="this.isEditing">
                    <input matInput type="email" placeholder="Your email" ngModel name="email"
                        [(ngModel)]="this.profileForInput.email" email required #emailInput="ngModel">

                    <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="!emailInput.hasError('required')">Email has incorrect format</mat-error>

                </mat-form-field>

            </div>
        </mat-card>

        <mat-card *ngIf="this.isEditing">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">

                <mat-icon>lock</mat-icon>
                <mat-form-field hintLabel="Minimum 8 characters">
                    <input matInput type="password" placeholder="Your password" ngModel name="password" minlegth="8"
                        [(ngModel)]="this.profileForInput.password" password required #passwordInput="ngModel">

                    <mat-hint align="end">{{ passwordInput.value?.length }} / 8</mat-hint>
                </mat-form-field>
            </div>
        </mat-card>

        <mat-card>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
                <mat-icon>near_me</mat-icon>


                <div fxLayout="column" *ngIf="!this.isEditing">
                    <mat-card-subtitle>Address</mat-card-subtitle>
                    <span>{{ this.profileForInput.address }}</span>
                </div>

                <mat-form-field *ngIf="this.isEditing">
                    <input matInput type="text" placeholder="Address" ngModel name="address"
                        [(ngModel)]="this.profileForInput.address" required #addressInput="ngModel">
                    <mat-error *ngIf="addressInput.hasError('required')">Please write your full address.</mat-error>
                </mat-form-field>
            </div>
        </mat-card>

        <button *ngIf="this.isEditing" mat-raised-button type="submit" color="primary">Save user</button>
    </form>
</mat-dialog-content>