<footer class="footer text-center text-lg-start text-muted">

  <section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
   
    <div class="me-5 d-none d-lg-block">
      <span>Connect with us on social networks:</span>
    </div>

    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>

  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
     
      <div class="row mt-3">
        
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-book me-3 text-secondary"></i>BookStore
          </h6>
          <p>
            We sell books.
          </p>
        </div>
        
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Info
          </h6>
          <p>
            <a href="#!" class="text-reset">About us</a>
          </p>
          <p>
            <a href="#!" class="text-reset">News</a>
          </p>
          <p>
            <a href="#!" class="text-reset">FAQ</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Apply for a job</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Customer service
          </h6>
          <p>
            <a href="#!" class="text-reset">Return policy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Privacy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i>Belgrade, Serbia</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            info@bookstore.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> + 381 234 567 88</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> + 381 234 567 89</p>
        </div>
        
      </div>
    </div>
  </section>

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.251);">
    © 2024 Copyright: Dejan Veselinovic
  </div>

</footer>